Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

A1:

In [2]:
my_string = "Hello, world!"
my_list = [1, 2, 3, 4, 5]
my_float = 3.14
my_tuple = (1, "two", 3.0)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

A2:
var1 is a string (str).
var2 is a string (str).
var3 is a list (list).
var4 is a floating-point number (float).

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

A3:

In [8]:
x = 10
y = 3
result = x / y
print(result)

3.3333333333333335

In [9]:
x = 10
y = 3
result = x % y
print(result)

1

In [10]:
x = 10
y = 3
result = x // y
print(result)

3

In [11]:
x = 2
y = 3
result = x ** y
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

A4:

In [12]:
my_list = [1, 2.5, "Hello", True, [1, 2, 3], ("apple", "banana"), {"name": "John", "age": 25}, None, 5 + 3j, False]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))
    print()

Element: 1
Data Type: <class 'int'>

Element: 2.5
Data Type: <class 'float'>

Element: Hello
Data Type: <class 'str'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: ('apple', 'banana')
Data Type: <class 'tuple'>

Element: {'name': 'John', 'age': 25}
Data Type: <class 'dict'>

Element: None
Data Type: <class 'NoneType'>

Element: (5+3j)
Data Type: <class 'complex'>

Element: False
Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A5:

In [13]:
A = 84
B = 7

count = 0
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print("Number A is divisible by number B.")
    print("A can be divided by B", count, "times.")
else:
    print("Number A is not divisible by number B.")

Number A is divisible by number B.
A can be divided by B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

A6:

In [15]:
my_list = [10, 15, 6, 23, 30, 18, 9, 4, 21, 12, 7, 27, 16, 3, 8, 14, 11, 24, 19, 33, 22, 5, 13, 20, 17]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

10 is not divisible by 3
15 is divisible by 3
6 is divisible by 3
23 is not divisible by 3
30 is divisible by 3
18 is divisible by 3
9 is divisible by 3
4 is not divisible by 3
21 is divisible by 3
12 is divisible by 3
7 is not divisible by 3
27 is divisible by 3
16 is not divisible by 3
3 is divisible by 3
8 is not divisible by 3
14 is not divisible by 3
11 is not divisible by 3
24 is divisible by 3
19 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
5 is not divisible by 3
13 is not divisible by 3
20 is not divisible by 3
17 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

A7:

Mutable:

In [16]:
my_list = [1, 2, 3]
print(my_list)

my_list.append(4)
print(my_list)

my_list[1] = 5
print(my_list)

[1, 2, 3]
[1, 2, 3, 4]
[1, 5, 3, 4]

Immutable:

In [17]:
my_string = "Hello"
print(my_string)

my_string = my_string + ", world!"
print(my_string)

Hello
Hello, world!